<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Results</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>Results</h1>
  <h2><%= "Elapsed time: #{@delta_t.round(2)} seconds" %></h2>
  <h2><%= "Height at peak: #{@height.round(2)} feet" %></h2>
  <a href="/" class="back">Back to Timer</a>
</body>
</html>